[Unit]
Description=Jellyfin Media Server (CIX)
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/jellyfin
User=${JELLYFIN_USER}
Group=${JELLYFIN_USER}
WorkingDirectory=/var/lib/jellyfin
ExecStart=/usr/lib/jellyfin/bin/jellyfin ${JELLYFIN_ARGS}
Restart=on-failure
TimeoutStopSec=15
SuccessExitStatus=143

# Hardware access for V4L2M2M
SupplementaryGroups=video render

[Install]
WantedBy=multi-user.target
